<mat-toolbar color="primary">
  <a mat-icon-button class="example-icon" routerLink="/" aria-label="Example mat-icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </a>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <a mat-icon-button class="example-icon favorite-icon" routerLink="/create" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </a>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> 
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>